# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Find JSON'
      'submenu': [
        {
          'label': 'Show'
          'command': 'find-json:show'
        }
        {
          'label': 'Show Result Flatten'
          'command': 'find-json:show-result-flatten'
        }
      ]
    ]
  }
]
